@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  width: 23rem;
  margin: auto;
  /**
  * header
  */
  /**
  * Main part
  */
}
.container .header {
  /**
  * Navigation
  */
  /**
  * Menu burger
  */
  /** Animation */
  /**
  * Dropdown
  */
  /**
  * Arrows dropdown
  */
}
.container .header__nav {
  display: flex;
  align-items: center;
  place-content: space-between;
}
.container .header__navLogo {
  margin: 2rem;
}
.container .header__navMenuBtn {
  z-index: 1;
  margin: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.container .header__navBtnBurger {
  width: 2rem;
  height: 0.3rem;
  background: hsl(0deg, 0%, 8%);
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.container .header__navBtnBurger::before, .container .header__navBtnBurger::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.3rem;
  background: hsl(0deg, 0%, 8%);
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.container .header__navBtnBurger::before {
  transform: translateY(-0.7rem);
}
.container .header__navBtnBurger::after {
  transform: translateY(0.7rem);
}
.container .header .header__navMenuBtn.open .header__navBtnBurger {
  transform: translateX(-4rem);
  background: transparent;
  box-shadow: none;
}
.container .header .header__navMenuBtn.open .header__navBtnBurger::before {
  transform: rotate(45deg) translate(2.8rem, -2.8rem);
}
.container .header .header__navMenuBtn.open .header__navBtnBurger::after {
  transform: rotate(-45deg) translate(2.8rem, 2.8rem);
}
.container .header__navMenu {
  position: relative;
  display: inline-block;
}
.container .header__navMenu .dropdown {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(0deg, 0%, 98%);
  width: 15rem;
  height: 100vh;
}
.container .header__navMenu .dropdown a {
  display: block;
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
  margin: 2rem;
}
.container .header__navMenu .dropdown .links {
  margin-top: 6rem;
}
.container .header__navMenu .dropdown .buttons {
  display: flex;
  flex-direction: column;
}
.container .header__navMenu .dropdown .buttons .login {
  border: none;
}
.container .header__navMenu .dropdown .buttons button {
  margin: 0.3rem 1.3rem;
  color: hsl(0deg, 0%, 41%);
  border-color: hsl(0deg, 0%, 41%);
  border-radius: 0.9rem;
  height: 2.5rem;
  background-color: hsl(0deg, 0%, 98%);
}
.container .header__navMenu .featuresHeader {
  display: flex;
  height: 3rem;
}
.container .header__navMenu .dropdownFeatures {
  display: none;
}
.container .header__navMenu .dropdownFeatures .linksFeatures {
  margin-left: 1rem;
}
.container .header__navMenu .compagnyHeader {
  display: flex;
  height: 3rem;
}
.container .header__navMenu .dropdownCompagny {
  display: none;
}
.container .header__navMenu .dropdownCompagny .linksCompagny {
  margin-left: 1rem;
}
.container .header .show {
  display: block;
}
.container .header .down {
  background: url("./../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-top: 2.3rem;
}
.container .header .up {
  background: url("./../images/icon-arrow-up.svg");
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-top: 2.3rem;
}
.container .main {
  display: flex;
  flex-direction: column;
}
.container .main__firstPart .main__picture img {
  width: 23rem;
}
.container .main__secondPart .main__header {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 3rem;
  font-weight: 700;
}
.container .main__secondPart .main__text {
  width: 22rem;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  color: hsl(0deg, 0%, 41%);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.7rem;
}
.container .main__secondPart .main__button {
  text-align: center;
  margin-top: 2rem;
}
.container .main__secondPart .main__button input {
  color: white;
  background-color: black;
  border-radius: 1.3rem;
  height: 4rem;
  width: 10.7rem;
  font-size: 1.3rem;
  font-weight: 700;
}
.container .footer {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}
.container .footer img {
  width: 4rem;
}
.container .attribution {
  text-align: center;
  margin-top: 4rem;
}

/**
    * Media queries
    */
@media only screen and (min-width: 1440px) {
  .container {
    width: 113rem;
  }
  .container .header__navLogo {
    margin: 2.5rem;
    width: 6rem;
  }
  .container .header__nav {
    align-items: initial;
  }
  .container .header__navMenuBtn {
    display: none;
  }
  .container .header .dropdown {
    display: flex;
    height: 8rem;
    align-items: center;
    width: 23rem;
  }
  .container .header .dropdown .links {
    margin-top: 0;
    display: flex;
    position: absolute;
    top: 1rem;
    right: 65rem;
  }
  .container .header .dropdown .links .featuresHeader {
    width: 10rem;
  }
  .container .header .dropdown .links .linksFeatures {
    width: 10rem;
    margin-left: 0;
  }
  .container .header .dropdown .buttons {
    display: inline;
  }
  .container .header .dropdown .buttons button {
    width: 7rem;
  }
}
.overlay {
  height: 100vh;
  width: 23rem;
  background-color: hsl(0deg, 0%, 41%);
  opacity: 1;
}

/*# sourceMappingURL=app.css.map */
