.container {
    min-height: 100vh;
    width: 23rem;
    margin: auto;
    /**
    * header
    */
    
    .header {

    /**
    * Navigation
    */
        &__nav {
            display: flex;
            align-items: center;
            place-content: space-between;
        }

        &__navLogo {
            margin: 2rem;
        }

    /**
    * Menu burger
    */
        &__navMenuBtn {
            z-index: 1;
            margin: 2rem;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            transition: all .5s ease-in-out;
            
        }

        &__navBtnBurger {
            width: 2rem;
            height: 0.3rem;
            background: $almostBlack;
            border-radius: 0.2rem;
            box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
            transition: all .5s ease-in-out;
        }

        &__navBtnBurger::before,
        &__navBtnBurger::after {
            content: '';
            position: absolute;
            width: 2rem;
            height: 0.3rem;
            background: $almostBlack;
            border-radius: 0.2rem;
            box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
            transition: all .5s ease-in-out;
        }

        &__navBtnBurger::before {
            transform: translateY(-0.7rem);
        }
        &__navBtnBurger::after {
            transform: translateY(0.7rem);
        }

        /** Animation */

     .header__navMenuBtn.open .header__navBtnBurger {
        transform: translateX(-4rem);
        background: transparent;
        box-shadow: none;
    }
    .header__navMenuBtn.open .header__navBtnBurger::before {
        transform: rotate(45deg) translate(2.8rem, -2.8rem);
          
    }
    .header__navMenuBtn.open .header__navBtnBurger::after {
        transform: rotate(-45deg) translate(2.8rem, 2.8rem);
    }

    /**
    * Dropdown
    */

    &__navMenu {
        position: relative;
        display: inline-block;

        .dropdown{
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            background-color: $almostWhite;
            width: 15rem;
            height: 100vh;

            a{
                display: block;
                text-decoration: none;
                color: $mediumGray;
                margin: 2rem;
            }

            .links{
                margin-top: 6rem;
            }

            .buttons{
                display: flex;
                flex-direction: column;

                .login {
                    border: none;
                }

                button{
                    margin: 0.3rem 1.3rem;
                    color: $mediumGray;
                    border-color: $mediumGray;
                    border-radius: 0.9rem;
                    height: 2.5rem;
                    background-color: $almostWhite;
                }
            }
        }

        .featuresHeader {
            display: flex;
            height: 3rem;
        }

        .dropdownFeatures {
            display: none;

            .linksFeatures{
                margin-left: 1rem;
            }
        }

        .compagnyHeader {
            display: flex;
            height: 3rem;
        }

        .dropdownCompagny {
            display: none;
            .linksCompagny {
                margin-left: 1rem;
            }
        }
    }

    .show {
        display:block
    }

    /**
    * Arrows dropdown
    */
    .down {
        background: url("./../images/icon-arrow-down.svg");
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        margin-top: 2.3rem;
    }
    .up {
        background: url("./../images/icon-arrow-up.svg");
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        margin-top: 2.3rem;
    }
    }

    /**
    * Main part
    */

    .main {
        display: flex;
        flex-direction: column;

        &__firstPart {
           
       
        .main__picture {
            img {
                width: 23rem;
            }
        }
    }

        &__secondPart {
            .main__header {
                text-align: center;
                font-size: 1.1rem;
                margin-top: 3rem;
                font-weight: 700;
            }

            .main__text {
                width: 22rem;
                text-align: center;
                margin: auto;
                margin-top: 1rem;
                color: hsl(0deg, 0%, 41%);
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.7rem;
            }

            .main__button {
                text-align: center;
                margin-top: 2rem;
                
                input {
                    color: white;
                    background-color: black;
                    border-radius: 1.3rem;
                    height: 4rem;
                    width: 10.7rem;
                    font-size: 1.3rem;
                    font-weight: 700;
                }
            }
        }
    

    }

    .footer {
        display: flex;
        justify-content: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 5rem;

    img {
        width: 4rem;
    }
    }

    .attribution {
        text-align: center;
        margin-top: 4rem
    }

}

/**
    * Media queries
    */

    @media only screen and (min-width: 1440px){

        .container {
            width: 113rem;

            /**
            * Header
            */
            
            .header {

                &__navLogo {
                    margin: 2.5rem;
                    width: 6rem;
                }

                &__nav {
                    align-items: initial;
                }
                &__navMenuBtn {
                    display: none;
                }

                .dropdown {
                    display: flex;
                    height: 8rem;
                    align-items: center;
                    width: 23rem;


                    .links {
                        margin-top: 0;
                        display: flex;
                        position: absolute;
                        top: 1rem;
                        right: 64rem;

                        .featuresHeader {
                            width: 11rem;
                            margin-left: 2rem;
                        }

                        .linksFeatures {
                            width: 12rem;
                            height: 13rem;
                            margin-left: 0;
                            margin-top: 2rem;
                            box-shadow: 1px 1px 50px 0px hsl(0deg 0% 77%);
                            text-align: center;
                            border-radius: 1rem;

                            a {
                                padding: 1rem;
                                margin: 0;
                            }
                        }

                        .compagnyHeader {
                            width: 11rem;
                            margin-right: 2rem;
                        }

                        .linksCompagny {
                            width: 9rem;
                            height: 10rem;
                            margin-left: 0;
                            margin-top: 2rem;
                            box-shadow: 1px 1px 50px 0px hsl(0deg 0% 77%);
                            text-align: center;
                            border-radius: 1rem;
                            margin-left: 2rem;

                            a {
                                padding: 1rem;
                                margin: 0;
                            }
                        }
                    }

                    .buttons {
                        display: inline;
                        
                        button {
                            width: 7rem;
                        }
                    }
                }
            }

            /**
            * Main
            */

            .main {
                display: flex;
                flex-direction: row-reverse;
                height: 47rem;
                margin: auto;
                justify-content: space-around;
                width: 113rem;
                align-items: center;

                .main__firstPart {

                    height: 40rem;
                    .main__picture img {
                        width: 45rem;
                        height: 45rem;
                    }

                }

            
               

                .main__secondPart {
                    margin-left: 5rem;
                    .main__header {
                        height: 8.5rem;
                        width: 34rem;
                        text-align: justify;
                        font-size: 2.7rem;
                        margin-top: 0;
                        margin-top: 4rem;
                    }

                    .main__text {
                        width: 37rem;
                        text-align: left;
                         margin: 0;
                        margin-top: 5rem;
                        font-size: 1.4rem;
                        
                    }

                    .main__button {
                        text-align: left;
                        margin-top: 4rem;

                        input {
                            background-color: $almostWhite;
                            border-color: $almostBlack;
                            color: $almostBlack;
                        }
                    }
                }
            }

            .footer {
                margin: 0;
                width: 55rem;
                width: 44rem;
                margin-left: 8rem;

                .footer__sponsor img {
                    width: 6rem;
                }
            }
        }
           
        
    }

.overlay {
    height: 100vh;
    width: 23rem;
    background-color: $mediumGray;
    opacity: 1;
    
}




